/.devcontainer
/build
/dependencies.lock
/sdkconfig.defaults.esp32
/sdkconfig.defaults.esp32c3
/sdkconfig.defaults.esp32c5
/sdkconfig.defaults.esp32c6
/sdkconfig.defaults.esp32c61
/sdkconfig.defaults.esp32h2
/sdkconfig.defaults.esp32p4
/sdkconfig.defaults.esp32s2